.CourseRowWrapper {
  display: flex;
  height: 90px;
  align-items: center;
  background-color: #fff;
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
  border-radius: 10px;
}

.menuDots {
  white-space: nowrap;
  padding: .6em 1em;
}

.menuDots:hover {
  cursor: pointer;
  font-weight: bold;
}

.CourseRowWrapper .course:nth-child(1) {
  width: 12%;
  text-align: center;
}

.CourseRowWrapper .course:nth-child(2) {
  width: 20%;
  font-weight: bold;
}

.CourseRowWrapper .course:nth-child(3) {
  width: 45%;
}

.CourseRowWrapper .course:nth-child(4) {
  width: 12%;
  text-align: center;
}

.CourseRowWrapper .course:nth-child(5) {
  position: relative;
  width: 6%;
}

.CourseRowWrapper .course {
  padding: 15px 15px;
}