.Button {
  width: 220px;
  padding: 0.8em 0;
  background: linear-gradient(#008080, #2e8b57);
  color: #fff;
  border: seagreen;
  border-radius: 5px;
  box-shadow: 0 0 4px seagreen;
  font-size: 1em;
  white-space: nowrap;
}

.Button:active,
.Button:focus {
  outline: none;
}

.Button:hover{
  cursor: pointer;
}