.DropdownMenu {
  position: absolute;
  top: 50px;
  left: -90px;
  width: 150px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 -1px 4px rgb(161, 161, 161);
  z-index: 10;
}

.DropdownMenu::after,
.DropdownMenu::before {
  content: '';
  position: absolute;
  background: white;
  left: 123px;
  bottom: 74px;
  width: 16px;
  height: 16px;
  box-shadow: -2px -2px 2px rgba(161, 161, 161, .5);
  transform: rotate(45deg);
}

.DropdownMenu::before {
  box-shadow: none;
}

.editButton,
.deleteButton {
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}

.editButton {
  padding-top: 1.1em;
  padding-bottom: .37em;
}

.deleteButton {
  padding-bottom: 1.1em;
  padding-top: .37em;
}

.editButton:hover,
.deleteButton:hover {
  font-weight: bold;
}

.editIcon,
.deleteIcon {
  width: 16px;
  height: 16px;
  margin-right: 1em;
  vertical-align: top;
}